#main-header {

  background-color: #4EA0FF;
  background-image: url(../img/pattern.png);
  height: 100px;
  background-size: 30%;
  line-height: 80px;

}

#main-logo {

  height: 50px;
  width: auto;
  vertical-align: bottom;

}

#author {
  margin-top: 0px;
}

#tim-B-L {
  margin-left: 0%;
  margin-bottom: 0px;
}

#main-ul {
  margin-left: 15px;
  padding-left: 0px;
}

#figure-description {
  margin-top: 0px;
}

#main-thead {
  background-color: #20A9E5;
  color: white;
  text-align: left;
}

#long-lorem {
  width: 50%;
}

h1 {
  font-size: 38px;
  margin-bottom: 0;
}

a {
  text-decoration: none;
}

table {
  border-collapse: collapse;
}

.grey-text {
  color: darkgrey;
}

.odd {
  background-color: #B1E5F2;
}